.page-header {
  grid-area: header;

  display: grid;
  grid-template-areas: ". logo todo fav";
  grid-template-columns: 125px auto 65px 60px;
  grid-column-gap: 5px;

  .page-logo {
    grid-area: logo;
    justify-self: center;

    font-size: 18px;
  }

  .btn {
    width:100%;
    padding: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    outline:none;

    box-sizing: border-box;

    &:hover {
      color: rgb(24,24,24);
      border: 1px solid rgb(198,198,198);
      background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }

    &-faves {
      grid-area: fav;
      justify-self: end;
      align-self: center;
    }

    &-todo {
      grid-area: todo;
      justify-self: end;
      align-self: center;
    }
  }
}
