.page-form {
  display: grid;
  grid-template-areas:
  'searchInput searchInput searchInput'
  'searchBtn myLocationBtn .'
  'statusbar statusbar statusbar'
  'results results results';

  grid-template-columns: auto auto auto;
  grid-template-rows: 30px auto 20px auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  .search-input {
    grid-area: searchInput;
    width:auto;

    line-height: 20px;
    font-size: 16px;

    border: 1px solid black;
    padding: 2px 2px;
  }

  .btn {

    align-self: center;
    margin-top: -5px;
    padding: 5px;

    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
    outline:none;

    &-search {

      grid-area: searchBtn;

    }

    &-search {
      grid-area: searchBtn;

    }

    &:hover {
      color: rgb(24,24,24);
      border: 1px solid rgb(198,198,198);
      background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }
  }

  .statusbar {
    width: auto;
    grid-area: statusbar;

    padding-left: 5px;
    margin-top: 5px;
  }

  .results {
    grid-area: results;
    width: auto;
    min-height: 200px;
  }
}
